body{
    font-family: sans-serif;
    font-size: 1em;
}

#website-header{
    text-align: center;
}

textarea{
    font-size: 1.2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#text-content{
    text-align: center;
}